body{
    text-align:center;
}
.container{
    max-width:1200px;
    width:100%;
    margin:auto;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:10px solid black;
    margin:2.5rem;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color:#819ff9;
}
.flash{
    background-color: white;;
}
@media screen and (max-width:767px) {
    .container{
        max-width:800px;
    }
    .btn{
        margin:10px;
        width:125px;
        height:125px;
    }
}